page-register-user {
    .content-page{
        font-family: 'roboto';
        font-size: 18px;

    }

    ion-item {
        padding: 0px 0px !important;
    }
    .ion-list-div {
        margin-top: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content:  center;
    }

    h4 {
        padding-top: 20px;
    }

    .btn-signin {
        height: 50px;
        font-size: 20px;
        background: rgba(45, 116, 116, 1);
        color: white;
    }

}
